* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}

header {
    position: fixed;
    width: 304.14px;
    height: 30.86px;
    left: 48px;
    top: 63px;
}

.imagensTop {
    position: absolute;
    width: 352.11px;
    height: 295px;
    left: -0.5px;
    top: 0px;
}

.vector1 {
    position: fixed;
    width: 333.25px;
    height: 273.52px;
    left: 0.02px;
    top: 0px;
}

.vector4 {
    position: fixed;
    width: 352.11px;
    height: 295px;
    left: -0.5px;
    top: 0px;
}

.mensagem {
    margin-left: 58.61px;
}